.process00 {
	-fx-background-color: #FC3E51;
}

.process01 {
	-fx-background-color: #2F429A;
}

.process02 {
	-fx-background-color: #580036;
}

.process03 {
	-fx-background-color: #D98697;
}

.process04 {
	-fx-background-color: #2AC409;
}

.process05 {
	-fx-background-color: #9EF780;
}

.process06 {
	-fx-background-color: #2A5991;
}

.process07 {
	-fx-background-color: #8B5CBF;
}

.process08 {
	-fx-background-color: #FBC28F;
}

.process09 {
	-fx-background-color: #C78B25;
}

